@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

/* Generics */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container, input {
  font-family: Raleway, sans-serif;
}

/* Inputs */

.search-fields {
  position: sticky;
  top: 0;
}

.search-field {
  padding: 0 .5em;
}

input {
  display: block;
  border: 0;
  border-bottom: 2px solid #ddd;
  color: #111;
}

input:focus {
  outline: none;
  border-color: #666;
}

.search-bar {
  width: 100%;
  font-size: 1rem;
  padding: 1em 0 .5em .5em;
}

.tag-input {
  padding-bottom: .5em;
}
